.side-bar__header
  .side-bar__header__box
    %p.side-bar__header__box__user-name yuta
    %ul{class:"side-bar__header__box__menue-list"}
      %li{class:"side-bar__header__box__menue-list__new-group"}
        = link_to 'http://google.co.jp' do
          %i.fas.fa-edit
      %li{class:"side-bar__header__box__menue-list__edit-user"}
        = link_to'http://google.co.jp' do
          %i.fas.fa-cog

.side-bar__groups-list
  .side-bar__groups-list__group
    %p.side-bar__groups-list__group__group-name グループ名
    %p.side-bar__groups-list__group__latest-message まだメッセージはありません
  .side-bar__groups-list__group
    %p.side-bar__groups-list__group__group-name グループ名
    %p.side-bar__groups-list__group__latest-message まだメッセージはありません
  .side-bar__groups-list__group
    %p.side-bar__groups-list__group__group-name グループ名
    %p.side-bar__groups-list__group__latest-message まだメッセージはありません
       